@page "/login"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Mvc
@using Microsoft.EntityFrameworkCore
@inject ISnackbar Snackbar
@inject ApplicationContext db
@inject NavigationManager nav

<MudDialog DefaultFocus="DefaultFocus.LastChild"></MudDialog>
<MudPaper Class="ml-16" >
    <form action="/login" method='post'>
        <MudTextField Label="Почта" @bind-Value="email" name="email" Counter="40" MaxLength="40"/>
        <MudTextField Label="Пароль" @bind-Value="password" name="password" Counter="40" MaxLength="40" Immediate="true" InputType="InputType.Password"/>

        <MudButton ButtonType="ButtonType.Submit">Вход</MudButton>
    </form>
</MudPaper>


@code{

    string email;
    string password;
}